body {
  background-color: #e5e5e5;
  color: #333333;
}

.all-posts-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.post,
.post-container {
  border: 2px solid #e28743;
  border-radius: 2rem;
  padding: 2rem 1rem;
  width: 30%;
  background-color: #eeb78e;
}

.post-container {
  margin: 6rem auto 0 auto;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.header-choices {
  display: flex;
  justify-content: space-around;
}

.topic-likes {
  display: flex;
  justify-content: space-evenly;
  margin: 1.4rem 0 2.6rem 0;
  font-size: 0.7rem;
}

.post-title {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2rem;
  width: max-content;
  margin: 0 auto;
}

.blog-body {
  font-size: 0.9rem;
}

.blog-date {
  width: max-content;
}

.interior-borders {
  border: 1px solid #e28743;
  border-radius: 2rem;
  padding: 0.4rem 1.2rem;
  background-color: white;
}

.navbar .interior-borders {
  width: max-content;
}

.navbar .interior-borders:hover {
  background-color: #e28743;
  border: 1px solid white;
  border-radius: 2rem;
}

.save-btn .interior-borders:hover {
  background-color: #e28743;
  border: 1px solid white;
  border-radius: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e28743;
  padding: 1rem;
  margin-bottom: 2rem;
}

.header_choices {
  border: 1px solid #e28743;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333333;
}

.header_choices:focus {
  border: 1px solid #e28743;
}

.post-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 4rem;
}

.edit-btn,
.like-btn {
  border-radius: 0.6rem;
  color: white;
}

.edit-btn {
  background-color: #575757;
}

.like-btn {
  background-color: rgb(206, 82, 10);
}

.title-topic {
  display: flex;
  justify-content: space-around;
}

.post-body {
  display: block;
  margin: 0 auto;
  width: 70%;
  font-size: 1rem;
}

.save-btn {
  margin: 1.5rem 0 0 0.4rem;
}
